html { 
  background: url(img/gym.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 600px;
  height: 399px;
}

body {
	/*background-image: url("img/gym.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;*/
	/*background-size: 35%;*/

	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h1 {
	text-align: center;
	color: #E4E3E2;
}

div {
	/*margin-top: 15%;*/
	/*margin-bottom: 400px;*/
/*	margin-left: auto;
	margin-right: auto;
	text-align: center;*/
}
